# Apple Files
**/.DS_Store

# if it's already there, write in your terminal:
find . -name .DS_Store -print0 | xargs -0 git rm -f --ignore-unmatch

# More info:
https://gist.github.com/lohenyumnam/2b127b9c3d1435dc12a33613c44e6308